.book-toc > li:nth-child(2),
.book-toc > li:nth-child(3),
.book-toc > li:nth-child(5),
.book-toc > li:nth-child(8),
.book-toc > li:nth-child(9),
.book-toc > li:nth-child(11),
.book-toc > li:nth-child(12),
.book-toc > li:nth-child(13),
.book-toc > li:nth-child(14),
.book-toc > li:nth-child(16),
.book-toc > li:nth-child(17),
.book-toc > li:nth-child(18),
.book-toc > li:nth-child(19),
.book-toc > li:nth-child(20),
.book-toc > li:nth-child(21),
.book-toc > li:nth-child(25),
.book-toc > li:nth-child(26),
.book-toc > li:nth-child(27),
.book-toc > li:nth-child(28),
.book-toc > li:nth-child(30),
.book-toc > li:nth-child(31),
.book-toc > li:nth-child(32),
.book-toc > li:nth-child(33),
.book-toc > li:nth-child(34),
.book-toc > li:nth-child(35),
.book-toc > li:nth-child(36),
.book-toc > li:nth-child(61),
.book-toc > li:nth-child(62),
.book-toc > li:nth-child(63),
.book-toc > li:nth-child(64),
.book-toc > li:nth-child(65),
.book-toc > li:nth-child(66),
.book-toc > li:nth-child(68),
.book-toc > li:nth-child(69),
.book-toc > li:nth-child(71),
.book-toc > li:nth-child(72),
.book-toc > li:nth-child(73),
.book-toc > li:nth-child(74),
.book-toc > li:nth-child(76),
.book-toc > li:nth-child(77),
.book-toc > li:nth-child(78),
.book-toc > li:nth-child(79),
.book-toc > li:nth-child(82),
.book-toc > li:nth-child(83),
.book-toc > li:nth-child(84),
.book-toc > li:nth-child(85),
.book-toc > li:nth-child(86),
.book-toc > li:nth-child(88),
.book-toc > li:nth-child(89),
.book-toc > li:nth-child(90),
.book-toc > li:nth-child(91),
.book-toc > li:nth-child(92),
.book-toc > li:nth-child(93),
.book-toc > li:nth-child(94),
.book-toc > li:nth-child(96),
.book-toc > li:nth-child(99),
.book-toc > li:nth-child(100),
.book-toc > li:nth-child(101),
.book-toc > li:nth-child(102),
.book-toc > li:nth-child(104),
.book-toc > li:nth-child(105),
.book-toc > li:nth-child(108),
.book-toc > li:nth-child(109),
.book-toc > li:nth-child(111),
.book-toc > li:nth-child(114),
.book-toc > li:nth-child(115),
.book-toc > li:nth-child(116),
.book-toc > li:nth-child(117),
.book-toc > li:nth-child(119),
.book-toc > li:nth-child(122),
.book-toc > li:nth-child(123),
.book-toc > li:nth-child(125),
.book-toc > li:nth-child(126),
.book-toc > li:nth-child(127),
.book-toc > li:nth-child(128),
.book-toc > li:nth-child(130),
.book-toc > li:nth-child(131),
.book-toc > li:nth-child(132),
.book-toc > li:nth-child(133),
.book-toc > li:nth-child(134),
.book-toc > li:nth-child(135),
.book-toc > li:nth-child(136),
.book-toc > li:nth-child(137),
.book-toc > li:nth-child(138),
.book-toc > li:nth-child(141),
.book-toc > li:nth-child(142),
.book-toc > li:nth-child(143),
.book-toc > li:nth-child(145),
.book-toc > li:nth-child(146),
.book-toc > li:nth-child(147),
.book-toc > li:nth-child(149),
.book-toc > li:nth-child(150),
.book-toc > li:nth-child(151),
.book-toc > li:nth-child(152),
.book-toc > li:nth-child(153),
.book-toc > li:nth-child(154),
.book-toc > li:nth-child(156),
.book-toc > li:nth-child(157),
.book-toc > li:nth-child(158),
.book-toc > li:nth-child(159),
.book-toc > li:nth-child(162),
.book-toc > li:nth-child(163),
.book-toc > li:nth-child(164),
.book-toc > li:nth-child(166),
.book-toc > li:nth-child(169),
.book-toc > li:nth-child(170),
.book-toc > li:nth-child(171),
.book-toc > li:nth-child(172),
.book-toc > li:nth-child(173),
.book-toc > li:nth-child(176),
.book-toc > li:nth-child(178),
.book-toc > li:nth-child(179),
.book-toc > li:nth-child(181),
.book-toc > li:nth-child(182),
.book-toc > li:nth-child(184),
.book-toc > li:nth-child(188),
.book-toc > li:nth-child(193),
.book-toc > li:nth-child(197),
.book-toc > li:nth-child(201) {
  padding-left: 10px;
}
.book-toc > li:nth-child(97),
.book-toc > li:nth-child(98),
.book-toc > li:nth-child(112),
.book-toc > li:nth-child(113),
.book-toc > li:nth-child(120),
.book-toc > li:nth-child(121),
.book-toc > li:nth-child(167),
.book-toc > li:nth-child(168),
.book-toc > li:nth-child(174),
.book-toc > li:nth-child(175),
.book-toc > li:nth-child(185),
.book-toc > li:nth-child(186),
.book-toc > li:nth-child(189),
.book-toc > li:nth-child(190),
.book-toc > li:nth-child(191),
.book-toc > li:nth-child(192),
.book-toc > li:nth-child(194),
.book-toc > li:nth-child(195),
.book-toc > li:nth-child(196),
.book-toc > li:nth-child(198),
.book-toc > li:nth-child(199),
.book-toc > li:nth-child(200),
.book-toc > li:nth-child(202),
.book-toc > li:nth-child(203),
.book-toc > li:nth-child(204),
.book-toc > li:nth-child(205) {
  padding-left: 20px;
}
.book-toc > li:nth-child(7),
.book-toc > li:nth-child(10),
.book-toc > li:nth-child(15),
.book-toc > li:nth-child(22),
.book-toc > li:nth-child(24),
.book-toc > li:nth-child(29),
.book-toc > li:nth-child(60),
.book-toc > li:nth-child(67),
.book-toc > li:nth-child(70),
.book-toc > li:nth-child(75),
.book-toc > li:nth-child(81),
.book-toc > li:nth-child(87),
.book-toc > li:nth-child(95),
.book-toc > li:nth-child(103),
.book-toc > li:nth-child(107),
.book-toc > li:nth-child(110),
.book-toc > li:nth-child(118),
.book-toc > li:nth-child(124),
.book-toc > li:nth-child(129),
.book-toc > li:nth-child(140),
.book-toc > li:nth-child(144),
.book-toc > li:nth-child(148),
.book-toc > li:nth-child(155),
.book-toc > li:nth-child(161),
.book-toc > li:nth-child(165),
.book-toc > li:nth-child(177),
.book-toc > li:nth-child(180),
.book-toc > li:nth-child(183),
.book-toc > li:nth-child(187) {
  position: sticky;
  top: 4.3rem;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.5rem;
  z-index: 1;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}



@media (max-width: 991.98px) {
}